{% extends "myapp/base.html" %}
<!-- Body Starts here -->
{% block body %}

<div class="flex flex-col items-center justify-center min-h-screen">
  <h1 class="font-bold text-lg"> 🔐 Register </h1>
  <form class="shadow-lg p-10 w-1/4" action="" method="post">
    {% csrf_token %}
    <div class="mb-2">
      <label for="id_username">Username</label>
      <div class="mt-2 border rounded-sm py-2 px-2 mr-10">{{ form.username }}</div>
    </div>
    <div class="mb-2">
      <label for="id_email">Email</label>
      <div class="mt-2 border rounded-sm py-2 px-2 mr-10">{{ form.email }}</div>
    </div>
    <div class="mb-2">
      <label for="id_first_name">First Name</label>
      <div class="mt-2 border rounded-sm py-2 px-2 mr-10">{{ form.first_name }}</div>
    </div>
    <div class="mb-2">
      <label for="id_password">Password</label>
      <div class="mt-2 border rounded-sm py-2 px-2 mr-10">{{ form.password }}</div>
    </div>
    <div class="mb-2">
      <label for="id_confirm_password">Confirm Password</label>
      <div class="mt-2 border rounded-sm py-2 px-2 mr-10">{{ form.confirm_password }}</div>
    </div>
    <input class="bg-green-500 text-white px-4 py-2 rounded-md" type="submit" value="Create User" />
  </form>

  <p class="m-10"> Already Registered? <span><a class="text-indigo-500" href="{% url 'login' %}"> Click Here</a> to
    login </span></p
</div>

<!-- Body ends here -->
{% endblock body %}