{% extends "myapp/base.html" %}
<!-- Body starts here. -->
{% block body %}

<div class="flex justify-between">
  <div class="ml-10 mt-10 font-bold text-xl">Sales Stats </div>
  <div class="mr-20 mt-10">
    <a href="{% url 'dashboard' %}" class="bg-green-500 text-white font-bold px-4 py-2">
      Dashboard </a>

  </div>
</div>

<div class="shadow-lg m-5 p-10">
  <div class="text-5xl font-bold"> &#8377;{{ total_sales.amount__sum }} </div>
  <div class="mt-10"> Your Lifetime Revenue </div>
</div>

<!-- Body ends here. -->
{% endblock body %}